.SmoothScroll
  position: fixed
  left: 50%
  transform: translateX(-50%)

.container
  width: 100vw
  display: grid
  place-items: center
  background-image: $noise

.content
  padding: 1.9rem 0 
  width: 75vw
  font-size: 1.25rem
  letter-spacing: 0.04rem
  line-height: 1.5
  +desktop
    padding: 36px 0
    font-size: 24px
    letter-spacing: 0.5px
  +mobile
    padding: 8px 0
    width: 85vw
    font-size: 16px
    letter-spacing: 0.6px
    line-height: 1.6
  h1
    margin: 1.25rem 0
    +desktop
      margin: 24px 0
  img
    width: 20.3rem
    +desktop
      width: 390px
    +mobile
      width: 260px
    @media screen and (max-width: 400px)
      // width: 97%
      display: block
      margin: 0 auto
  p, ul // for margin top
    margin-top: 0
  h3, p, ul // for margin bottom
    margin-bottom: 0.83rem
    +desktop
      margin-bottom: 16px
  h3
    margin-top: 1.25rem
    font-size: 1.25em
    +desktop
      margin-top: 24px
  p
    text-align: justify
  li
    margin-left: 0.5rem
    +desktop
      margin-left: 9px
    +mobile
      margin-left: -10px